/* GENERICS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
     /* background-color: black;  */
}



/* HEADER */

.container-header{
    width: 100%;
    height: 40px;
    background-color: aqua;
}

.flex-header{
    display: flex;
    display: block;
    text-align: right;
    
}

/* MAIN */

.container-call{
    min-width: 100%;
    min-height: 800px;

    display: flex;

    background-color: greenyellow;

}

.guests{
    flex-wrap: wrap;

}

/* FOOTER */

.container-footer{
    width: 100%;
    height: 30px;
    background-color: aqua;
}










/* UTILS */

.flex{
    display: flex;
}

/* DEBUG */

.debug{
    border: 2px dashed red;
}